<h1>Productos</h1>  
<article>
    <h2>Cargar productos</h2>
    <br>
    <form id="formulario">
        <label for="">title </label><input type="text" name="" id="title" placeholder="title"></input>
        <label for="">description </label><textarea  name="" id="description" placeholder="description"></textarea>
        <label for="">code </label><input type="number" name="" id="code" placeholder="code"></input>
        <label for="">price </label><input type="number" name="" id="price" placeholder="price"></input>
        <label id="status">status</label>
        <select required>
            <option disabled selected>seleccione una opcion</option>
            <option>true</option>
            <option>false</option>
        </select>
        <label for="">stock </label><input type="number" name="" id="stock" placeholder="stock"></input>
        <label for="">category </label><input type="text" name="" id="category" placeholder="category"></input>
        <label for="">thumbnails </label><input type="text" name="" id="thumbnails" placeholder="thumbnails"></input>
        <button type="submit"><strong>Enviar</strong></button>
    </form>
</article>
<hr>
<h2 id="nombre-lista">Lista actualizada: </h2>
<br><br>
<div id="lista-actualizada"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/webSockets.js"></script>

